@import url("http://yui.yahooapis.com/3.7.0/build/cssreset/cssreset-min.css");
@import url("http://yui.yahooapis.com/3.7.0/build/cssbase/cssbase-min.css");
@import url("http://yui.yahooapis.com/3.7.0/build/cssfonts/cssfonts-min.css");
@import url("style.css");
/*
@import url("../css.css");
@import url("../other.css");
*/
body {
	background: #FFFFFF;
}
html {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	background: #EEEEEE;
}
h1 {
	border-bottom: 2px solid #009900;
	color: #009900;
	font-size: 2.5em;
}
h2 {
	color: #009900;
	font-size: 2em;
}
h3 {
	color: #009900;
	font-size: 1.5em;
}
img {
	border: none;
}
pre {
	background-color: #E6E6E6;
	padding: 1em;
	margin: 1em;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}
dt {
	font-weight: bold;
}
#top {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
#top p {
	margin: 0;
	font-weight: bold;
}
#titlebar {
	background-image: url("../img2/img2.png");
	height: 80px;
	margin: 0;
	padding: 0;
	display: block;
	clear: both;
}
#titlebar img {
	max-width: 243px;
}
#menucontents {
	background-color: #339922;
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	clear: both;
	width: 100%;
}
#menucontents ul {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	clear: both;
	vertical-align: middle;
}
#menucontents ul li {
	float: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
}
#menucontents ul li a {
	text-align: center;
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 1em 0.5em;
	display: block;
	font-size: 12px;
}
#menucontents ul li a:hover {
	background-color: #993322;
}
.lof-main-wapper{
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	clear: both;
}
.lof-slidecontent{
	width: 100%;
}
#contents {
	padding-left: 1em;
	padding-right: 1em;
	float: left;
	display: block;
	clear: both;
}
aside {
	padding-left: 1em;
	padding-right: 1em;
	background: #E6E6E6;
}
section {
	margin: 0;
	padding: 0;
	display: block;
	clear: both;
}
section.item
{
	clear: both;
	padding-top: 1em;
}
.rightblock
{
	float: right;
	display: block;
	padding-left: 1em;
	padding-bottom: 1em;
}
.leftblock
{
	float: left;
	display: block;
	padding-right: 1em;
	padding-bottom: 1em;
}

.centerblock
{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
footer
{
	margin: 0;
	padding: 0;
	display: block;
	clear: both;
	border-top: dashed 2px #999999;
	margin-right: auto;
	margin-left: auto;
}
footer address
{
	text-align: center;
}
div.article_div {
	background-color: #F1FFD8;
	padding: 1em;
	margin-bottom: 1em;
}
twitter{

}
.columnA {
	float: left;
	width: 73%;
}
.columnB {
	float: right;
	width: 20%;
}
@media screen and (max-width: 500px) {
	.columnA {
		clear: both;
		float: left;
		width: auto;
	}
	.columnB {
		clear: both;
		float: left;
		width: auto;
	}
}
table{
width:487px;
}
