@charset "utf-8";
/* CSS Document */
body
{
	margin: 0px;
	padding: 0px;
	background-image: url(img/patterrific_patt_8blackdots01.jpg);
	background-color: #F5F5F5;
	
}
div.lineimg
	
{
	background-image: url(img2/line.png);
	height: 1px;
	clear: both;
}
div#top
{
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding: 0px;
}
div#top p
{
	font-size: 0.74em;
	font-weight: bold;
	color: #999;
	line-height: 0.74em;
}
div#center
{
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}

div#titlebar
{
	margin-right: auto;
	margin-left: auto;
	background-color: #666;
	background-image: url(img2/img2.png);
	height: 80px;
	margin-bottom: 0px;
	padding: 0px;
	line-height: 0px;
	vertical-align: bottom;
}
div#titlebar img
{
	float:left;
	margin-bottom: 0px;
	padding: 0px;
	line-height: 0px;
	vertical-align: bottom;
}
div#FREE
{
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	display:block;
}
div#FREESOFT
{
	width:708px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	display:block;
}
div#secure
{
	width:389px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	display:block;
}
div.toOfficial
{
	float: right;
	margin-bottom:40px;
}
div.toOfficiall
{

	float: left;
	margin-bottom:40px
}
div.toOfficial img
{
	margin-left: 10px;
}
div.toOfficiall img
{
	margin-right: 10px;
}
nav
{
	background-color: #339922;
	height: 50px;
	clear: both;
	margin: 0px;
	padding: 0px;
}
div#menucontents
{
	margin-right: auto;
	margin-left: auto;
	width: 950px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}
div#menucontents ul
{
	margin: 0px;
	padding: 0px;
}
div#menucontents ul li
{
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
div#menucontents ul li a
{
	display:block;
	line-height: 50px;
	font-size:0.8em;
	text-decoration:none;
	text-align:center;
	color:#FFFFFF;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin-top: 0px;
	padding-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
}
div#menucontents ul li a:hover
{
	color:#333;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
div#grey
{
	background-color: #B6B6B6;
	margin-bottom: 20px;
}
article
{
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
div#sidebar
{
	float: right;
	background-color: #E6E6E6;
	width: 250px;
	padding: 5px;
}
div#sidebar h1
{
	font-size: 1em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-image: none;
}
div#sidebar h2
{
	font-size: 0.75em;
}
div#sidebar p
{
	font-size: 0.75em;
}
div#contents
{
	width: 950px;
	background-color: #FFFFFF;
	font-size: 0.9em;
	margin: auto;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 70px;
	padding-left: 20px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
div#contents h1
{
	color: #090;
	font-size: 1.5em;
}
div#contents h2
{
	color: #090;
	font-size: 1.2em;
}
div#contents p
{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding-left: 20px;
	margin-top: 0px;
	padding-top: 0px;
	text-align: left;
}
div.bigtext
{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin-left: 50px;
}
div.bigtext a
{
	color: #060;
}
div.imgs
{
	width: 480px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}
div.imgs img
{

}
div.imgg
{
	width: 200px;
}
div.show
{
}
address
{
	margin-right: auto;
	margin-left: auto;
	width: 950px;
	text-align: center;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 0.7em;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
display:block;
}

section.item
{
	clear: both;
	padding-top: 1em;
}

section.item .rightblock
{
	float: right;
	display: block;
}

section.item .leftblock
{
	float: left;
	display: block;
}

section.item .fig
{
	border: none;
	margin: 1em;
}

footer
{
	clear: both;
	border-top: dashed 2px #999999;
}

div#contents h1.title
{
	border-bottom: solid 2px #009900;
	width: 40%;
	font-size: 3em;
}
